<%= form_for @map do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :date_closed %>
    <%= f.date_field :date_closed %>
  </div>

  <div class="field">
    <%= f.label :date_reopen %>
    <%= f.date_field :date_reopen %>
  </div>

  <div class="field">
    <%= f.label :coordinates %>
    <%= f.text_field :coordinates, name: "map[coordinates][]", :step => 0.0001, class: 'points' %>
  </div>

  <div class="field">
    <%= f.label :coordinates %>
    <%= f.text_field :coordinates, name: "map[coordinates][]", :step => 0.0001, class: 'points' %>
  </div>

  <div class="field">
    <%= f.label :coordinates %>
    <%= f.text_field :coordinates, name: "map[coordinates][]", :step => 0.0001, class: 'points' %>
  </div>

  <div class="field">
    <%= f.label :coordinates %>
    <%= f.text_field :coordinates, name: "map[coordinates][]", :step => 0.0001, class: 'points' %>
  </div>




    <!-- <form action="/maps/new" method="post">
      <label for="longitude1">Point 1 Longitude</label>
      <input type="textbox" name="coordinates[]" id="longitude1" value="123.456">
      <label for="latitude1">Point 1 Latitude</label>
      <input type="textbox" name="coordinates[]" id="latitude1" value="-123.456">
      <label for="longitude2">Point 2 Longitude</label>
      <input type="textbox" name="coordinates[]" id="longitude2" value="123.456">
      <label for="latitude2">Point 2 Latitude</label>
      <input type="textbox" name="coordinates[]" id="latitude2" value="-123.456">
    </form> -->


  <div class="field">
    <%= f.submit "Save" %>
  </div>

<% end %>

  <button id="view-maps">View Maps</button>
