<div class="container">

  <h1 class="title">Road Map Generator</h1>
  <h4 class="title"><%= link_to "Create New Map", new_map_path %></h4>

  <table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Map ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Date Closed</th>
      <th>Date Re-Opening</th>
      <th>View</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @maps.each do |map| %>
    <tr>
      <th scope="row"><%= map.id %></th>
      <td><%= map.name %></td>
      <td><%= map.description %></td>
      <td><%= map.date_closed.strftime('%a, %b %d, %Y at %I:%M %p') %></td>
      <td><%= map.date_reopen.strftime('%a, %b %d, %Y at %I:%M %p') %></td>
      <td><a href="/maps/<%= map.id %>/view_map">View Map</a></td>
      <td><%= link_to 'Delete Map', map, method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>

  <% @maps.each do |map| %>

      <div class="col-md-6">
        <ul class="map-details">
          <li class="map-details">Name: <%= map.name %></li>
          <li class="map-details">Description: <%= map.description %></li>
          <li class="map-details">Date of Closure: <%= map.date_closed.strftime('%a, %b %d, %Y at %I:%M %p') %> </li>
          <li class="map-details">Date of Re-Opening: <%= map.date_reopen.strftime('%a, %b %d, %Y at %I:%M %p') %></li>
          <li><%= link_to 'Delete Map', map, method: :delete, data: {confirm: "Are you sure?"} %></li>
        </ul>
        <div class="map-display">
          <div id="<%= map.id %>" class="map-size"></div>
        </div>
      </div>

  <% end %>

</div>


<script>

  initMap = function() {

      $.ajax({
        url:'/maps',
        async: true,
        method:'GET',
        dataType:'JSON',
        data: {}
      }).done(function(response){
        console.log(response);
         for (var i=0; i < response.length; i++) {
            var targetmap_id = response[i].id
            console.log(targetmap_id);
            getPoints(targetmap_id);
          }
      });


      getPoints = function(targetmap_id) {
         $.ajax({
              url:'/points',
              method:'GET',
              async: true,
              dataType:'JSON',
              data: {}
            }).done(function(response){
              console.log(response);
              var matchedPoints = response.filter(function(i) {
                                    return i.map_id === targetmap_id;
                                  });
              console.log(matchedPoints);


            var mapOptions = {
              center: {lat: matchedPoints[0].latitude, lng: matchedPoints[1].longitude},
              zoom: 13
            };


            var map = new google.maps.Map(document.getElementById(targetmap_id), mapOptions);

            var poly = new Array();

            for (var i=0; i < matchedPoints.length; i++) {
              pos = new google.maps.LatLng(matchedPoints[i].latitude, matchedPoints[i].longitude);
              poly.push(pos);

            }

            console.log(poly);


            var path = new google.maps.Polyline({
              path: poly,
              strokeColor: '#ba0b0b',
              strokeOpacity: 1.0,
              strokeWeight: 5
            });

            console.log(path);

            path.setMap(map);

      });
    }

  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqsCaOw8_xtZ37g3_YWkIiwKlvMva7c7k&callback=initMap"></script>
