<h1>Road Map Generator</h1>

<% @maps.each do |map| %>
  <ul>
    <li class="map-details">Name: <%= map.name %></li>
    <li class="map-details">Description: <%= map.description %></li>
    <li class="map-details">Date of Closure: <%= map.date_closed %> </li>
    <li class="map-details">Date of Re-Opening: <%= map.date_reopen %></li>
  </ul>
  <div class="map-display">
    <div id="<%= map.id %>" class="map-size"></div>
  </div>
  <%= link_to 'Delete Map', map, method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>

<%= link_to "Create New Map", new_map_path %>

<script>

  initMap = function() {

      $.ajax({
        url:'/maps',
        async: true,
        method:'GET',
        dataType:'JSON',
        data: {}
      }).done(function(response){
        console.log(response);
         for (var i=0; i < response.length; i++) {
            var targetmap_id = response[i].id
            console.log(targetmap_id);
            getPoints(targetmap_id);
          }
      });


      getPoints = function(targetmap_id) {
         $.ajax({
              url:'/points',
              method:'GET',
              async: true,
              dataType:'JSON',
              data: {}
            }).done(function(response){
              console.log(response);
              var matchedPoints = response.filter(function(i) {
                                    return i.map_id === targetmap_id;
                                  });
              console.log(matchedPoints);


            var mapOptions = {
              center: {lat: matchedPoints[0].latitude, lng: matchedPoints[1].longitude},
              zoom: 13
            };


            var map = new google.maps.Map(document.getElementById(targetmap_id), mapOptions);

            var poly = new Array();

            for (var i=0; i < matchedPoints.length; i++) {
              pos = new google.maps.LatLng(matchedPoints[i].latitude, matchedPoints[i].longitude);
              poly.push(pos);
            }

            console.log(poly);


            var path = new google.maps.Polyline({
              path: poly,
              strokeColor: '#ba0b0b',
              strokeOpacity: 1.0,
              strokeWeight: 5
            });

            console.log(path);

            path.setMap(map);

      });
    }

  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqsCaOw8_xtZ37g3_YWkIiwKlvMva7c7k&callback=initMap"></script>
